/* Thème clair par défaut */
:root {
  --background-color: #f9f9f9;
  --card-background-color: #ffffff;
  --text-color: #000000;
  --header-background-color: #1890ff;
  --header-text-color: #ffffff;
}

/* Thème sombre */
.dark {
  --background-color: #1a1a1a;
  --card-background-color: #242424;
  --text-color: #ffffff;
  --header-background-color: #1a1a1a;
  --header-text-color: #ffffff;
}

/* Style global */
body {
  background: var(--background-color);
  color: var(--text-color);
  margin: 0;
  font-family: Arial, sans-serif;
}